:root {
  --pulse-green: rgba(82, 196, 26, 0.4);
  --pulse-red: rgba(245, 34, 45, 0.4);
}

@keyframes pulse-green {
  0% {
    box-shadow: 0 0 0 0 var(--pulse-green);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(82, 196, 26, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(82, 196, 26, 0);
  }
}

@keyframes pulse-red {
  0% {
    box-shadow: 0 0 0 0 var(--pulse-red);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(245, 34, 45, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(245, 34, 45, 0);
  }
}

.status-pulse-green {
  animation: pulse-green 2s infinite;
}

.status-pulse-red {
  animation: pulse-red 1.5s infinite;
}
